html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #fff 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #fff 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #fff 25%, transparent 25%),
    linear-gradient(45deg, #fff 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: hsl(205, 87%, 98%);
  margin-top: 56px;
  min-height: calc(100vh - 56px);
  font-family: Rubik, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  width: 100vw;
  background-color: #160c28;
  min-height: 64px;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.footer__paragraph {
  color: white;
  opacity: 0.7;
  font-size: 0.85rem;
  line-height: 1.618;
}

.main {
  padding: 24px 16px;
}

.navigation {
  width: 100vw;
  background-color: white;
  height: 56px;
  padding: 16px 24px;
  -webkit-box-shadow: 0px 2px 20px -2px rgba(52, 73, 102, 0.25);
  -moz-box-shadow: 0px 2px 20px -2px rgba(52, 73, 102, 0.25);
  box-shadow: 0px 2px 16px -2px rgba(52, 73, 102, 0.25);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__link {
  margin-right: 32px;
  text-decoration: none;
  color: #160c28;
}

.navigation__link:hover {
  color: #ec0868;
  text-decoration: none;
}

.person {
    max-width: 1080px;
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 24px -2px #34496633;
    -moz-box-shadow: 2px 2px 24px -2px #34496633;
    box-shadow: 2px 2px 24px -2px #34496633;
    display: flex;
    flex-wrap: wrap;
}

.person__description {
  line-height: 1.618;
}

.person__description--js {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    color: #001F3F;
  }
  50% {
    color: #ec0868;
  }
  100% {
    color: #001F3F;
  }
}

.person__image {
  max-width: 250px;
  border-radius: 50%;
  margin-right: 32px;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(52, 73, 102, 0.25);
  -moz-box-shadow: 0px 0px 25px -2px rgba(52, 73, 102, 0.25);
  box-shadow: 0px 0px 25px -2px rgba(52, 73, 102, 0.25);
}

.person__media {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.person-media__icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 13px;
  color: #fff;
  background-color: #344966;
  border-radius: 50%;
  font-size: 1rem;
  margin-right: 12px;
}

.person-media__icon:hover {
  background-color: #160c28;
}